@model UserInfo

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1 style="text-align:center">User Registration</h1>
<hr />


<form method="post" asp-action="Index" asp-controller="UserRegistration">

    <div class="row">
        <div class="col-md-6">
            <h2> All Error Messages</h2>
            <div asp-validation-summary="ModelOnly" style="color:darkcyan"></div>
        </div>
        <div class="col-md-6">
            <div class="row mb-3">
                <div class="col-md-12">
                    <label asp-for="Name" class="form-label"></label>
                    <input asp-for="Name" class="form-control" /> 
                    <span asp-validation-for="Name" style="color:red"></span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-12">
                    <label asp-for="Address" class="form-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" style="color:red"></span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-12">
                    <label asp-for="EmailAddress" class="form-label"></label>
                    <input asp-for="EmailAddress" class="form-control" />
                    <span asp-validation-for="EmailAddress" style="color:red"></span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-12">
                    <label asp-for="MobileNumber" class="form-label"></label>
                    <input asp-for="MobileNumber" class="form-control" />
                    <span asp-validation-for="MobileNumber" style="color:red"></span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-12">
                    <label asp-for="Password" class="form-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" style="color:red"></span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-12">
                    <label asp-for="ConfirmPassword" class="form-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" style="color:red"></span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-12">
                   
                    <input type="submit" value="SUBMIT" class="btn btn-primary" />
                </div>
            </div>

        </div>
    </div>


</form>